@import "tailwindcss";

:root {
  --background: #e9eff0;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

image {
  object-fit: cover;
}

header {
  background-color: var(--color-blue-500);
  color: #ffffff;
  position: fixed;
}

header a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 12px;
}

header a.active {
    background-color: #dceaec;
    color: black;
}

button {
  cursor: pointer;
  padding: 7px 18px;
}

button.small {
  padding: 1px 14px !important;
}

button.green {
  background-color: var(--color-green-700);
}
button.green:hover {
  background-color: var(--color-green-600);
}

button.red {
  background-color: var(--color-red-800);
}
button.red:hover {
  background-color: var(--color-red-700);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button.icon-button {
  padding: 0;
}

main {
  padding: 5px;
  padding-bottom: 32px;
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  margin-bottom: 10px;
  padding: 16px 12px 20px;
  max-width: 800px;
  width: 95vw;
  background-color: white;
  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-color: var(--color-gray-300);
  border-radius: .5rem;
}

section.extra-padding {
  padding-left: 24px;
  padding-right: 24px;
}

section.small-section {
  width: 85vw;
  max-width: 380px;
  margin-top: 18px;
}

section.medium-section {
  max-width: 640px;
}

.link {
  color: var(--color-blue-700);
  font-weight: var(--semibold);
}
.link:hover {
  color: var(--color-blue-900);
  text-decoration: underline;
}

input, select, textarea {
  border: 1px solid var(--color-gray-300);
  border-radius: .375rem;
  padding: .5rem .75rem;
}

input, select {
  height: 42px;
}

label, .label {
  font-size: .9rem;
  color: var(--color-slate-600);
  padding-left: 8px;
  white-space: nowrap;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-blue-500);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6L9 17L4 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper label {
  cursor: pointer;
  padding-top: 1px;
}

li.no-bullets {
  list-style-type: none;
}


.fade-out {
  /* Standard property */
  mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
  
  /* Webkit prefix for Safari and older Chrome versions */
  -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
}